.pageBody{
  display: flex;
}

.visibility{
  width: 250px;
  margin-top: 10px;
  border: 3px solid black;
  overflow-y: auto;
}

.headerCell{
  text-align: center;
}

.header{
  border-bottom: 3px solid;
  padding: 5px;
}

.users{
  display: flex;
  border: 2px solid;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
}

.self{
  color: white;
  border: 0px;
}
.partners{
  color: white;
  border: 0px;
  width: 80%;
  border-right: 0px;
  margin-right: 0px;
}
.flexParent{
  display: flex;
}

.userName{
  margin-left: 10px;
  font-size: 1.2em;
  padding-bottom: 2px;
}
.checkBox{
  margin-left: 10px;
  width: 1.1em;
}
.removeUser{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  background-color: lightgray;
  width: 20%;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0px;
  border: 2px solid gray;
}

.invite{
  border: 2px solid;
  border-radius: 5px;
  margin: 5px;
  width:90px;
  background-color: cornflowerblue;
  border: 0px;
}
.label{
  font-weight: 1000;
  font-size: 1.2em;
  padding-left: 5px;
  color: white;
}

.calendar{
  border: 3px solid black;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

.days{
  width: 100%;
  table-layout: fixed;
  height: 650px;
}
.dateCell{
  border: solid black 1px;
}

.dayofweek{
  border: solid black 1px;
}
.Month{
  font-size: 30px;
  border-bottom: 4px solid black;
}
.scheduleDiv{
  /* height: 70px; */
  overflow-y: hidden;
}
.overflowText{
  font-size: 14px;
  font-weight:bolder;
  color: cornflowerblue;
}
.schedule{
  font-size: 12px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  white-space:nowrap;
  padding-left: 5px;
  margin-bottom: 1px;
}
.today{
  border: thick solid orange;
}
.disabled{
  background-color: lightgray;
}
.prev{
  width: calc(100%/2);
  height: 40px;
  font-size: 1.3em;
}
.next{
  width: calc(100%/2);
  height: 40px;
  font-size: 1.3em;
}

.logout{
  margin: 5px;
  padding: 0px 20px 0px 20px;
  background-color:darksalmon;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  border: 0px;
}
.logouttext{
  color: white;
  font-weight: bold;
}

.popupBackground{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(200, 200, 200, 0.7)
}
.popup{
  margin: auto;
  width: 100%;
  max-width: 800px;
  border: 4px solid gray;
  background-color: white;
  border-radius: 10px;
}
.popupText{
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.checkUser{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.popupButtons{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.cancelRemove{
  color: white;
  background-color: cornflowerblue;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 25px;
  width: 48%;
  font-weight: bold;
  margin-right: .5%;
}
.submitRemove{
  color: white;
  background-color: lightcoral;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 25px;
  width: 48%;
  font-weight: bold;
  margin-left: .5%;
}