.flexParent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content{
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  width:100%;
  max-width: 800px;
}
.name{
  border-bottom: 3px solid;
  text-align: center;
}
.title{
  font-size: 40px;
  font-weight: bold; 
}
.info{
  padding-left: 35%;
  margin: 15px 0px 15px 0px;
}
.cancel{

  background-color: gray;
  width: 49%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin-right: 2%;
}
.join{

  background-color: cornflowerblue;
  width:49%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-radius: 10px;

}